.navbar{
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}
.brand-name {
    font-weight: bolder;
    font-size: 23px;
}
.sub-text {
    font-size: 12px;
}
.bg-image{
    height: 66%;
}
.content-1 {
   
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3%;

}
.content-2 {
    text-align: center;
    font-weight: bolder;
    background-color: #ffffff42;
    margin-top: 2%;
    color: #3b5ba6;
}
.text-box{
    height: 258px;
    width: 500px;
    background-color: white;
    border-radius: 36px;
}

.content-page-background1{
    background-image: url('../images/b1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%
}
.content-page{
    height:60%;
    margin-top:3%
}
.card-header{
    text-align: center;
}

.material-symbols-outlined {
    position: absolute;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.view-more{
    background-color: #6290bf;
    border-radius: 21px;
    height: 40px;
    padding-top: 7px;
}
.card {
    background-color: #b1c5c4;
    margin: 6px;
}
.card-header {
    background-color: #b1c5c4;
    font-size: 24px;
}
.about-us-sub-header {
    font-weight: 700;
}
.about-us-sub-text-content {
    text-align: justify;
    font-size: smaller;
}
.about-us-content{
    background-color: rgb(131 160 208 / 45%);
    padding: 32px;
}

.card1{
    background-image: url('../images/apartments-card1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100.2%;
    height: 100%;
}
img.card-img-top {
    height: 9rem;
}
.logo {
    /* background-color: white; */
    border-radius: 50%;
    height: 70%;
    width: 12%;
    border: 2px solid;
}
.caption {
    text-align: center;
    margin-top: 35%;
    font-size: 24px;
}
.contact {
    margin-left: 10%;
}
.icon-green {
    height: 50px;
    width: 50px;
    background-color: #00d084;
    border-radius: 27px;
}
.icon-blue {
    height: 50px;
    width: 50px;
    background-color: #21cbbb;
    border-radius: 27px;
}
.icon {
    margin: 12px;
    color: white;
}
.services-text{
    color:#21cbbb;
}

.our-services-content{
    margin:20px;
}
img.about-us-img {
    width: 90%;
    height: 120px;
    margin: 5%;
}
.about-us-text {
    text-align: justify;
    font-size: 13px;
}
.page1-image{
    height:80%;
}
.row-height-60{
    margin-top:30px;
    height:60%;
    position: sticky;
}
.our-services-body {
    margin-top: 15%;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
